<!DOCTYPE html>
<html lang="ru">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/shablon.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Отзывы</title>
	<link rel="stylesheet" href="/otziv.css">
</head>
<body>
	<div class="bg">

	<div class="shapka"> 

			<a href="/" style="text-decoration: none; ">
	  	<div style="display: flex;">
			<div class="logo"> </div>
			<div class="name"> 
				<span class="zg1">Издательство "Чёрный Ворон"</span><br>
				<span class="zg2">   Воруй деньги, заказывай книги</span>
			</div>
		</div>
			</a>

			<div class="menu">
				<a href="/contacts" style="text-decoration: none; margin: auto;">
				<div class="contacts"> 
					<span class="contacts_t">Контакты</span>
				</div>
				</a>

				<a href="/otziv"  style="text-decoration: none; margin: auto;">
				<div class="otziv"> 
					<span class="otziv_t">Отзывы</span>
				</div>
				</a>

				<a href="/us"  style="text-decoration: none; margin: auto;">
				<div class="onas"> 
					<span class="onas_t">О нас</span>
				</div>
				</a>
			

				<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					///
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="/admin">Админ-панель</a></li>
					<li><a class="dropdown-item" href="/check">Заказы</a></li>
				</ul>
				</div>
			</div>
	</div>

	<div class="content" style="display: flex; flex-direction: column; justify-content: space-around;">
		<div class="otz1" style="display: flex; flex-direction: row; height: 300px;">
			<div class="ava1"></div>
			<div class="text1" style="display: flex; flex-direction: column; width: 700px;">
				<span class="name1">Ф. М. Достоевский</span>
				<span class="comment1">Качество книг такое же, как и издательство - отличное! Всем советую. <p>Очень порадовало, что издательство находится рядом с церквью, хоть и сектанской.</p></span>
			</div>
		</div>

		<div class="otz2" style="display: flex; flex-direction: row; height: 300px;">
			<div class="ava2"></div>
			<div class="text2" style="display: flex; flex-direction: column; width: 700px;">
				<span class="name2">Кавахара Рэки</span>
				<span class="comment2">私はすべての私の心でブラックレイヴン出版社を愛し、私は私の本を公開するためのより良い場所を見たことがありません！!!</p></span>
			</div>
		</div>

		<div class="otz3" style="display: flex; flex-direction: row; height: 300px;">
			<div class="ava3"></div>
			<div class="text3" style="display: flex; flex-direction: column; width: 700px;">
				<span class="name3">Богомол</span>
				<span class="comment3">Зелень тягучая, вязкая, словно смола, обволакивающий покров, непроницаемый щит, изумруд, равняющий чаши всяких весов — наполни воина воина своей тяжелой силой! Меня, карающий молот поднявшего — слушай. Замысла ослушника, дерзнувшего противиться — спутай. Непокорную душу его — мятежную, обезумевшую — разруши.<br>

Серебро хладнокровное, крепкий хребет, вместилище всяких богатств, покровитель стяжателей — укрепи своего служителя! Тому, кто чувствует его, слушает, повинуется слепо — ответит. Кожу того, кто умеет хранить, вервие, связки и мышцы его — крепит. Сердце его, обращенное к Лимфе всяких цветов — греет. Расточителя всяких цветов, самоубийцу, дерзнувшего тратить, мучительной пытке — подвергни.<br>

Сирень чистая, плоть загадки, тайной играющая, прибежище странного — отзовись на мой зов, помоги покарать непокорного! В битве с противником неизвестным, лукавым, неведомым — помоги мне. Обманом и хитростью тщившийся правду мою одолеть — погибнет. Наблюдавший за мной, желавший найти мою слабость — ослепнет. Цвет его пропадет, молот его упадет, голос его — смолкнет.</span>
			</div>
		</div>

	</div>
<footer class="foot" style="background-color: white; margin-top: 9%; display: flex; justify-content: space-between;">
	
		<div class="blogobox" style="display: flex; flex-direction: column; margin-left: 1%">
			<div class="blogo"></div>
			<span style="color: grey; font-family: Gabriela;">Издательство Чёрный Ворон</span>
		</div>
		<div class="feet" style="display: flex; flex-direction: column; margin-right: 20px; margin-top: 2%;">
			<p style="color: black; font-family: Gabriela;">HomyakovKD@mer.ci.nsu.ru</p>
			<p style="color: black; font-family: Gabriela;">+7 983 123 96 06</p>
			<p style="color: black; font-family: Gabriela;">Все права левы</p>
		</div>
</footer>
</div>
</body>
</html>