<!DOCTYPE html>
<html lang="ru">
	<head>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/shablon.css">
	<link rel="stylesheet" type="text/css" href="/us.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

		<title>О нас</title>
	</head>
	<body>

		<div class="background" style="position: absolute; top: 0; height: 1320px">
		
	<div class="shapka"> 

			<a href="/" style="text-decoration: none; ">
	  	<div style="display: flex;">
			<div class="logo"> </div>
			<div class="name"> 
				<span class="zg1">Издательство "Чёрный Ворон"</span><br>
				<span class="zg2">   Воруй деньги, заказывай книги</span>
			</div>
		</div>
			</a>

			<div class="menu">
				<a href="/contacts" style="text-decoration: none; margin: auto;">
				<div class="contacts"> 
					<span class="contacts_t">Контакты</span>
				</div>
				</a>

				<a href="/otziv"  style="text-decoration: none; margin: auto;">
				<div class="otziv"> 
					<span class="otziv_t">Отзывы</span>
				</div>
				</a>

				<a href="/us"  style="text-decoration: none; margin: auto;">
				<div class="onas"> 
					<span class="onas_t">О нас</span>
				</div>
				</a>
			

				<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					///
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="/admin">Админ-панель</a></li>
					<li><a class="dropdown-item" href="/check">Заказы</a></li>
				</ul>
				</div>
			</div>
	</div>


		<div class="content" style="display: flex;">
			<div class="map" style="display: flex;flex-direction: column;">	
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d286.3131133470897!2d82.95627384323134!3d54.964244286330356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfe7c77fa994fd%3A0xdec4dee02414eefd!2z0KbQldCg0JrQntCS0Kwg0J3QkNCX0JDQoNCV0KIsINGA0LXQu9C40LPQuNC-0LfQvdCw0Y8g0L7RgNCz0LDQvdC40LfQsNGG0LjRjyDRhdGA0LjRgdGC0LjQsNC9INCS0LXRgNGLINCV0LLQsNC90LPQtdC70YzRgdC60L7QuQ!5e0!3m2!1sru!2sru!4v1621329211267!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				<span class="pdp">А вот и мы!</span>
			</div>
				<div class="descr" style="display: flex;flex-direction: column;">
				<span class="us_t">О нашем издательстве</span>

					<span class="t1">Издательство было основано в 2020 году и по сей день с ответсвенностью подходит к выполнению заказов. Ни один клиент ещё не жаловался!</span>
					<span class="t2"><p>Янтарь веселящий, дикий, бурю буйства несущий, кости дробящий, захлебнувшийся в хохоте, оседлавший смерч — откройся просящему твоего снисхождения! В благую волю того, кто просит тебя — вникни. Кровью пополни кровь, осквернителя заповедей — настигни. Разрушая мысли его, кости его — стихни. Насыщая жажду свою, одержимый, погребая его под собой — дрогни.</p>

<p>Лазурь грозная, выступающая как медь, приносящая смерть, рассекающий бич, карающий меч — откройся жаждущему твоего покровительства! Выступающему как медь, проникающему, как меч, несущему смерть — мне, внимающему тебе — внемли. Моего врага в глубины боли, в пучину страдания — ввергни. Причиняя ему мучения, раскрывая его изнутри — медли. Когда воззовет к тебе, пожелает найти тебя — смолкни.</p>

<p>Пурпур яростный, причиняющий раны, цвет карателей и пророков, знамя праведных, алая кровь — дай власти ставшему твоим бранным посланником! Обо мне, ставшем твоим правым посланником — вспомни. Заточи мой меч, разрушением мой удар — наполни. Кровь и Нерву из жил моего врага — исторгни. Направь острие моего клинка, цели своей — достигни.</p></span>
				</div>
		</div>

		<footer class="foot" style="background-color: white; margin-top: 9%; display: flex; justify-content: space-between;">
	
		<div class="blogobox" style="display: flex; flex-direction: column; margin-left: 1%">
			<div class="blogo"></div>
			<span style="color: grey; font-family: Gabriela;">Издательство Чёрный Ворон</span>
		</div>
		<div class="feet" style="display: flex; flex-direction: column; margin-right: 20px; margin-top: 2%;">
			<p style="color: black; font-family: Gabriela;">HomyakovKD@mer.ci.nsu.ru</p>
			<p style="color: black; font-family: Gabriela;">+7 983 123 96 06</p>
			<p style="color: black; font-family: Gabriela;">Все права левы</p>
		</div>
</footer>
</div>
	</body>
</html>